* {
    box-sizing: border-box;
    font-family: 'Roboto';
}
body {
    margin: 0px;
}
.menu-container {
    height: 4rem;
    display: flex;
    width: 100vw;
    align-items: center;
    gap: 0.5rem;
}
.font-size{
    width: 4rem;
    height: 2rem;
    margin-left: 1rem
}
.font-family{
    width: 10rem;
    height: 2rem;
}
.bui-align{
    width: 6rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.bui-align button{
    transition: all 200ms ease;
    cursor: pointer;
}
.bui-container{
    height: 2rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bui-container button{
    height: 97%;
    width: 32%;
    border: 1px solid #aaa;
    /* background-color: #fff; */
    border-radius: 5px;
}
.align-container{
    height: 2rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-container button{
    height: 97%;
    width: 32%;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.color-container{
    height: 3.5rem;
    width: 7rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: 1.5rem; 
}
.color-container i{
    color: rgb(66, 66, 66)
}

.color-container div input{
    margin-left: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #aaa;
}
.active-btn{
    background-color: rgb(192, 255, 192);
}


/*FORMULA BAR STYLING*/
.formula-container {
    height: 2rem;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.formula-container *{
    height: 70%;
}
.address-input{
    width: 4rem;
}
.formula-input{
    width: calc(100vw - 6rem);
}

/* GRID STYLING */
.grid-container {
    height: calc(100vh - 8rem);
    overflow: auto;
    position: relative;
}
.sheets-container {
    background-color: lightblue;
    height: 2rem;
    display: flex;
}
.add-sheet-btn {
    width: 3rem;
    border: 1px solid;
    height: 100%;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}
.box{
    height: 2rem;
    width: 2rem;
    border: 1px solid #eee;
    text-align: center;
    border-right: 1px solid #aaa;
}
.left-box{
    min-width: 2rem;
    background-color: #eee;
}
.top-row{
    height: 2rem;
    display: flex;
    position: absolute;
    left: 2rem;
    top: 0rem;
}
.top-row .cell{
    border-bottom: 1px solid #aaa;
}
.cell{
    height: 2rem;
    width: 5rem;
    max-width: 5rem;
    border: 1px solid #eee;
    text-align: center;
    padding: 0.25rem;
}
.cell:focus{
    outline: none;
}
.grid{
    background-color: white;
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.row{
    display: flex;
}
.active-cell{
    background-color: rgb(240, 240, 240);
}

/* sheet css */
.sheet-list {
    width: calc(100vw - 3rem);
    border: 1px solid;
    display: flex;
    overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sheet-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sheet-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 2px; /* Firefox */
}
.sheet {
    min-width: 5rem;
    border: 1px solid blue;
    height: 100%;
    background-color: grey;
}
.active {
    background-color: white;
}


